<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="index, stock, chooser">
    <meta name="description" content="Stoch Chooser Index">
    <meta name="robots" content="index">
    <title>Stock Chooser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" />
    </header>
    <form action="./show" id="selectStock" method="POST">
        <input type = "text" name = "showPeriod" id = "showPeriod" value = "longTerm" />
        <div id="logosDiv">
            <input class="logos" type="image" name="stockName" value="airbus" src="{{ url_for('static', filename='img/Airbus.png') }}" border="0" alt="Submit" />
            <input class="logos" type="image" name="stockName" value="sopra" src="{{ url_for('static', filename='img/Soprasteria.png') }}" border="0" alt="Submit" />
            <input class="logos" type="image" name="stockName" value="biomerieux" src="{{ url_for('static', filename='img/Biomerieux.png') }}" border="0" alt="Submit" />
            <input class="logos" type="image" name="stockName" value="oreal" src="{{ url_for('static', filename='img/Loreal.png') }}" border="0" alt="Submit" />
            <input class="logos" type="image" name="stockName" value="total" src="{{ url_for('static', filename='img/Total.png') }}" border="0" alt="Submit" />
        </div>
    </form>
</body>
