<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="index, 主页">
    <meta name="description" content="某主页">
    <meta name="robots" content="index">
    <title>某主页</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <form action="./show" id="selectStock" method="POST">
        Stock:
        <select name="stockName">
            <option value="airbus">airbus</option>
            <option value="sopra">SOPRA</option>
            <option value="biomerieux">biomerieux</option>
            <option value="oreal">oreal</option>
            <option value="total">total</option>
        </select>
        <input name = "showPeriod" value = "longTerm" type="submit">
    </form>
</body>
