<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="index, stock, chooser">
    <meta name="description" content="Stoch Chooser Index">
    <meta name="robots" content="index">
    <title>Stock Chooser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <form action="./show" id="selectStock" method="POST">
        Stock:
        <select name="stockName">
            <option value="airbus">Airbus</option>
            <option value="sopra">Sopra Steria</option>
            <option value="biomerieux">Biomerieux</option>
            <option value="oreal">L'Oreal</option>
            <option value="total">TOTAL</option>
        </select>
        <input type = "text" name = "showPeriod" id = "showPeriod" value = "longTerm" />
        <input type="submit">
    </form>
</body>
