<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="index, stock, chooser, show, result">
    <meta name="description" content="StockChooser show result page for long term">
    <meta name="robots" content="index">
    <title>Stock Chooser Show Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/show.css') }}?v=2">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
</head>

<body>
    <h1>Stock : {{ name }}</h1>
    <div>
        <h3>Finance score:</h3>
        <table>
            <tr><td>BNA</td> <td id = "BNA">{{ financeScore[0] }}</td></tr>
            <tr><td>PER</td> <td id = "PER">{{ financeScore[1] }}</td></tr>
            <tr><td>Dividende</td> <td id = "Dividende">{{ financeScore[2] }}</td></tr>
            <tr><td>Rendement</td> <td id = "Rendement">{{ financeScore[3] }}</td></tr>
            <tr><td>CA</td> <td id = "CA">{{ financeScore[4] }}</td></tr>
        </table>    
    </div>
        
    <form action="./show" id="selectStock" method="POST">
        <input type="text" id="stockName" name="stockName" value = "{{ name }}"/ >
        <select name="showPeriod">
            {% autoescape false %}
            {{ shortTermDateTimeOption }} 
            {% endautoescape %}
            <input type="submit">
        </select>
    </form>    
    
        {% autoescape false %}
        <h2>Bollinger Bands</h2>
        {{ fig[0] }} 
        
        <h2>stochastic</h2>
        {{ fig[4] }}
        
        <h2>Moving average</h2>
        {{ fig[1] }}
        
        <h2>MACD</h2>
        {{ fig[2] }}
        
        <h2>RSI</h2>
        {{ fig[3] }}
        
        {% endautoescape %}

    <script>
        /*window.onload = roundTableValue()

        function roundTableValue()
        {
            var BNA = document.getElementById("BNA");
            var PER = document.getElementById("PER");
            var Dividende = document.getElementById("Dividende");
            var Rendement = document.getElementById("Rendement");
            var CA = document.getElementById("CA");
            BNA.innerHTML = Math.round({{ financeScore[0] }} * 1000) / 1000;
            PER.innerHTML = Math.round({{ financeScore[1] }} * 1000) / 1000;
            Dividende.innerHTML = Math.round({{ financeScore[2] }} * 1000) / 1000;
            Rendement.innerHTML = Math.round({{ financeScore[3] }} * 1000) / 1000;
            CA.innerHTML = Math.round({{ financeScore[4] }} * 1000) / 1000;
        }*/
        
        /*
        function updateTextInput(inputText, val) {
            document.getElementById(inputText).value = val;
        }*/
    </script>
</body>
