body {
	background: linear-gradient(to bottom, #66ccff, white 120%);
	background-repeat: no-repeat;
}

header {
    display: block;
    vertical-align: middle;
    text-align: center;
    margin: 5px auto;
    padding: 10px;
    font: bold 20px arial;
}   
header > img {
    width: 50%;
    height: auto;
}

#showPeriod {
	display: none;
}

#logosDiv {
    display: block;
}

.logos{
    margin: 3em auto;
    width: 35%;
    height: auto;
    text-align: center;
    display: block;
    vertical-align: middle;
}